body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
.story{
    color:rgba(255, 0, 0, 0.8)
    
}
.portal{
    background-image: url(../pit/portal.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(173, 216, 230);
}
.home{
    background-image: url(../pit/home.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(173, 216, 230);
}
.wiki{
    background-image: url(../pit/gamebasicbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
}
.other{
    background-image: url(../pit/otherhome.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFD871;
}
.ttv{
    background-image: url(../pit/ttvbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(247, 76, 76);
}
a:link{
    color: cyan;
    background-color: transparent;
    text-decoration: underline;
}
a:visited{
    color: cyan;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
  a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
.rick{
    background-image:url(https://media.tenor.com/_4YgA77ExHEAAAAd/rick-roll.gif);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    color:white;
}