body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}
.story{
    color:rgba(255, 0, 0, 0.8)
    
}
.portal{
    background-image: url(../pit/portal.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(173, 216, 230);
}
.home{
    background-image: url(../pit/home.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(173, 216, 230);
}
.wiki{
    background-image: url(../pit/gamebasicbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
}
.other{
    background-image: url(../pit/otherhome.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(255, 216, 113);
}
.ttv{
    background-image: url(../pit/ttvbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: rgb(247, 76, 76);
}
a:link{
    color: cyan;
    background-color: transparent;
    text-decoration: underline;
}
a:visited{
    color: cyan;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
  a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
.rick{
    background-image:url(https://media.tenor.com/_4YgA77ExHEAAAAd/rick-roll.gif);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    color:white;
}
.haider{
    background-image:url(../pit/haider.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    color:white;
}
.button:visited{
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button:link{
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.button:active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.buttonstory:visited{
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.buttonstory:link{
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.buttonstory:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}
.buttonstory:active{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}